## Handling Imbalanced Dataset - Upsampling & Downsampling

In [67]:
import pandas as pd

In [31]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [32]:
n_class_0, n_class_1

(900, 100)

In [39]:
# CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

# here loc is setting the mean samples and scale is setting the standard deviation samples

In [40]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [41]:
df

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

[1000 rows x 3 columns]

In [42]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [55]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [56]:
df_majority.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [57]:
df_minority.head()

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1

In [58]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority, replace=True, # Making Sample with replacement
                               n_samples=len(df_majority), # To match the majority class
                               random_state=42)

In [59]:
df_minority_upsampled.shape

(900, 3)

In [61]:
df_minority_upsampled['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [62]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [63]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [66]:
df_upsampled.shape

(1800, 3)

In [95]:
df_upsampled

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
952   1.766644   1.532225       1
965   1.527330   2.182477       1
976   2.463277   0.795616       1
942   2.930412   1.067353       1
974   1.866832   2.723282       1

[1800 rows x 3 columns]

## Down Sampling

In [80]:
import pandas as pd

In [81]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [82]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [83]:
# Check the class distribution
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [84]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [85]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, # Sampling Without replacement
                                 n_samples=len(df_minority), # To match the minority class
                                 random_state=42)

In [86]:
df_majority_downsampled.shape

(100, 3)

In [87]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [88]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [96]:
df_downsampled.reset_index(drop = True)

     feature_1  feature_2  target
0     1.699768   2.139033       1
1     1.367739   2.025577       1
2     1.795683   1.803557       1
3     2.213696   3.312255       1
4     3.033878   3.187417       1
..         ...        ...     ...
195  -0.168426   0.553775       0
196  -0.403366   0.081491       0
197  -0.269293   0.611238       0
198  -0.295829   0.671673       0
199  -0.553404   0.804438       0

[200 rows x 3 columns]

In [97]:
df_downsampled.shape

(200, 3)