In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
x = df[['Country', 'Age', 'Salary']].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [23]:
y = df[['Purchased']].values
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [24]:
from sklearn.impute import SimpleImputer

In [25]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean',)

In [27]:
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [37]:
lbe_x = LabelEncoder()

In [38]:
x[:,0] = lbe_x.fit_transform(x[:,0])
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [33]:
from sklearn.preprocessing import OneHotEncoder

In [34]:
ohe = OneHotEncoder()

In [35]:
ohe.fit_transform(df.Country.values.reshape(-1, 1)).toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [39]:
lbe_y = LabelEncoder()

In [42]:
y = lbe_y.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 23)

In [46]:
xtrain

array([[1, 30.0, 54000.0],
       [0, 37.0, 67000.0],
       [1, 40.0, 63777.77777777778],
       [0, 48.0, 79000.0],
       [2, 27.0, 48000.0],
       [0, 44.0, 72000.0],
       [2, 38.77777777777778, 52000.0],
       [2, 38.0, 61000.0]], dtype=object)

In [47]:
xtest

array([[0, 35.0, 58000.0],
       [1, 50.0, 83000.0]], dtype=object)

In [48]:
ytrain

array([0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [49]:
ytest

array([1, 0], dtype=int64)

In [51]:
from sklearn.preprocessing import StandardScaler

In [54]:
ss = StandardScaler()

In [56]:
xtrain = ss.fit_transform(xtrain)

In [57]:
xtest = ss.transform(xtest)

In [58]:
xtrain

array([[ 0.        , -1.22849602, -0.82104614],
       [-1.15470054, -0.13263408,  0.49713428],
       [ 0.        ,  0.33702103,  0.1704058 ],
       [-1.15470054,  1.58943468,  1.71391622],
       [ 1.15470054, -1.69815114, -1.42943711],
       [-1.15470054,  0.96322786,  1.00412676],
       [ 1.15470054,  0.14568006, -1.02384313],
       [ 1.15470054,  0.02391762, -0.11125668]])

In [59]:
xtest

array([[-1.15470054, -0.4457375 , -0.41545216],
       [ 0.        ,  1.90253809,  2.1195102 ]])