In [2]:
import pandas as pd

In [3]:
iris = pd.read_csv('D:\वैचक्षण्यम्\_in-program files\iris.csv')
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [4]:
df = iris.copy()

In [5]:
print(df.head(3))
print(df.tail(3))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [6]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [7]:
print(df.shape)
print(df.dtypes)

(150, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [8]:
print(df.head(3))
print(df.tail(3))

    sl   sw   pl   pw flower_type
0  5.1  3.5  1.4  0.2      Setosa
1  4.9  3.0  1.4  0.2      Setosa
2  4.7  3.2  1.3  0.2      Setosa
      sl   sw   pl   pw flower_type
147  6.5  3.0  5.2  2.0   Virginica
148  6.2  3.4  5.4  2.3   Virginica
149  5.9  3.0  5.1  1.8   Virginica

In [7]:
# Percentile -> If we arrange the score in ascending order then the 25th from the start is 25 percentiler

df.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
# df.sl or
df["sw"]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sw, Length: 150, dtype: float64

In [9]:
# df.isnull()  will give boolean results
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [10]:
df.iloc[1:6, 2:4]

    pl   pw
1  1.4  0.2
2  1.3  0.2
3  1.5  0.2
4  1.4  0.2
5  1.7  0.4